#head img.rounded-circle {
  width: 180px;
  height: 180px;
}

:root {
  --bs-font-header: "Playfair Display", Georgia, "Times New Roman", serif;
}

#head .title, .navbar-brand, h1, h2, h3, h4, h5, h6 {
  font-family: var(--bs-font-header);
}

#logo .tagline {
  font-family: var(--bs-body-font-family);
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}

#site-navigation {
  background-color: rgba(var(--bs-secondary-bg-rgb), 0.8);
}

#primary-menu .nav-link:not(.active) {
  color: var(--bs-body-color);
}

#primary-menu .nav-link:not(.active):hover {
  color: var(--bs-emphasis-color);
}

.widget-title {
  font-style: italic;
}
