#head img.rounded-circle {
  width: 140px;
  height: 140px;
}

#head .title, .navbar-brand {
  font-family: 'Roboto Slab', serif;
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}

#site-navigation {
  background-color: rgba(var(--bs-secondary-bg-rgb), 0.8);
}

#primary-menu .nav-link:not(.active) {
  color: var(--bs-body-color);
}

#primary-menu .nav-link:not(.active):hover {
  color: var(--bs-emphasis-color);
}
