#head img.rounded-circle {
  width: 140px;
  height: 140px;
}

#head .title {
  font-family: 'Roboto Slab', serif;
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}

#site-navigation {
  background-color: rgba(248, 249, 250, 0.8);
}

[data-bs-theme='dark'] #site-navigation {
  background-color: rgba(54, 60, 66, 0.8);
}
